@import "../../scss/variables.scss";
@import "../../scss/mixins.scss";

.cards {
    @include flexbox(flex, center, center);
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 3rem;
}

.card {
    display: inline-block;
    background-color: $secondary-color;
    width: 45%;
    max-width: 200px;
    border-radius: 15%;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.5s;
    &_image {
        position: relative;
        background-size: cover;
        background-position: center;
        height: 150px;
        border-radius: 15% 15% 0 0;
        p {
            position: absolute;
            top: 2rem;
            right: 0;
            background-color: $secondary-color;
            color: $secondary-dark-color;
            padding: 0.3rem 1rem;
            border-radius: 5rem 0 0 5rem;
            box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
        }
    }
    &_bottom {
        padding: 1rem;
    }
    &_title {
        display: inline;
        font-size: 1rem;
        color: $secondary-dark-color;
        text-align: center;
    }
    &_allergens {
        position: relative;
        top: 0.2rem;
        display: inline;
        span {
            display: inline-block;
            width: 18px;
        }
        img {
            width: 100%;
            height: auto;
        }
    }
    &:hover {
        box-shadow: 3px 3px 8px rgba(0, 0, 0, 0);
        background-color: darken($secondary-color, 3%);
    }
}

.card_add {
    @include flexbox(flex, center, flex-end);
    img {
        width: 60%;
        opacity: 0.4;
    }
}
