@import "../../scss/variables.scss";
@import "../../scss/mixins.scss";

.allergens {
    @include flexbox(flex, flex-start, center);
    gap: 2rem;
}

.allergen {
    text-align: center;
    button {
        @include flexbox(flex, center, center);
    }
    &_icon {
        background-color: $secondary-color;
        border-radius: 25%;
        width: 3rem;
        padding: 0.7rem;
        transition: all 0.5s;

        &.active {
            background-color: $secondary-dark-color;
        }
        &:hover {
            background-color: $secondary-dark-color;
        }
    }
    &_title {
        text-transform: capitalize;
    }
}
