@import "../../scss/variables.scss";
@import "../../scss/mixins.scss";

.categories {
    @include flexbox(flex, flex-start, center);
    gap: 1rem;
}

.category {
    text-align: center;
    &_btn {
        background-color: $secondary-color;
        color: $secondary-dark-color;
        border-radius: 1rem;
        padding: 0.4rem 0.9rem;
        text-transform: capitalize;
        letter-spacing: 1px;

        &.active {
            background-color: $secondary-dark-color;
            color: $secondary-color;
        }
    }
}
