@import "../../scss/variables.scss";
@import "../../scss/mixins.scss";

.modal__back {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    @include flexbox(flex, center, flex-end);
}

.modal {
    background-color: $primary-color;
    width: 100%;
    border-radius: 3rem 3rem 0 0;
    overflow-y: auto;
    max-height: 100vh;
    animation: modalAnim 0.5s forwards;
    @keyframes modalAnim {
        0% {
            opacity: 0;
            transform: translateY(2rem);
        }
        100% {
            opacity: 1;
            transform: translateY(0rem);
        }
    }
    &__header {
        @include flexbox(flex, space-between, center);
        padding: 1rem 3rem;
        button {
            background-color: transparent;
            img {
                width: 2.5rem;
            }
        }
    }
    &__body {
        padding: 0 3rem 1rem;
        @include flexbox(flex, center, center);
        flex-direction: column;
        @media screen and (min-width: 768px) {
            @include flexbox(flex, center, flex-start);
            gap: 2rem;
            flex-direction: row;
        }
        h4 {
            font-weight: normal;
            font-size: 1.1rem;
            margin-bottom: 0.3rem;
        }
        input {
            background-color: $secondary-color;
            color: $secondary-dark-color;
            padding: 1.2rem;
            border-radius: 1rem;
            margin: 1rem auto;
            box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
            font-size: 1rem;
            transition: all 0.5s;
            &:hover {
                box-shadow: 3px 3px 8px rgba(0, 0, 0, 0);
                background-color: darken($secondary-color, 3%);
            }
        }
    }
}
