@import "../../scss/variables.scss";
@import "../../scss/mixins.scss";

.drawer__back {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.7);
    @include flexbox(flex, flex-end, stretch);
}

.drawer {
    background-color: $primary-color;
    width: 80%;
    @media screen and (min-width: 768px) {
        width: 30%;
    }
    border-radius: 3rem 0 0 0;
    max-height: 100vh;
    font-size: 1rem;
    animation: drawerAnim 0.5s forwards;
    @keyframes drawerAnim {
        0% {
            opacity: 0;
            transform: translateX(2rem);
        }
        100% {
            opacity: 1;
            transform: translateX(0rem);
        }
    }
    &__header {
        @include flexbox(flex, space-between, center);
        padding: 1rem 3rem;
        button {
            background-color: transparent;
            img {
                width: 2.5rem;
            }
        }
    }
    &__body {
        padding: 0 3rem;
        text-align: left;
        color: $text-color;
        button {
            width: auto;
        }
    }
}
