@import "../../scss/variables.scss";
@import "../../scss/mixins.scss";

.filters {
    @include flexbox(flex, center, center);
    gap: 2rem;
}

.filter {
    text-align: center;
    &_icon {
        background-color: $secondary-color;
        border-radius: 50%;
        width: 3rem;
        padding: 1rem;

        &.active {
            box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.15);
        }
    }
    &_title {
        text-transform: capitalize;
    }
}
